.app {
  display: flex;
}

canvas {
  position: absolute;
}

.navbar {
  height: 50px;
  background-color: #4064ac;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  padding: 0px 100px;
  font-size: 20px;
}

.newPostCard {

  display: flex;
  align-items: center;
  justify-content: center;
}

.addPost {
  display: flex;
}
.icon {
  width: 24px;
  height: 24px;
  color: #3b82f6;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.icon:hover {
  color: #fff;
  background-color: #3b82f6;
  border-radius: 50%;
  padding: 0.5rem;
}


label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addImg {
  width: 25px;
  cursor: pointer;
}

.postForm {
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

button {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  background-color: teal;
  cursor: pointer;
}

.postInput {
  height: 30px;
  border: none;
  margin-bottom: 10px;
}

.container {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}

.rightInput {
  padding: 20px;
  margin-bottom: 20px;
}

.rightButton {
  padding: 10px 20px;
  font-weight: bold;
}
.friendInput {
  position: absolute;
  padding: 10px;
  font-weight: bold;
  border: none;
}

.friends {
  font-size: 20px;
  margin-bottom: 20px;
}

.name {
  font-weight: bold;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .navbar {
    padding: 0px 10px; /* Reduce padding further for smaller screens */
    font-size: 16px; /* Further reduce font size for smaller screens */
  }

  .newPostCard {
    padding: 10px; /* Further reduce padding for smaller screens */
  }

  .avatar {
    margin-right: 10px; /* Reduce margin for smaller screens */
  }

  .addPost {
    flex-direction: column; /* Change flex direction for smaller screens */
    align-items: center; /* Center content for smaller screens */
  }

  .postForm {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .rightInput {
    padding: 10px;
    margin-bottom: 10px;
  }

  .rightButton {
    padding: 8px 15px;
  }

  .friendInput {
    padding: 8px;
  }

  .friends {
    font-size: 16px; /* Adjust font size for smaller screens */
    margin-bottom: 10px;
  }
}